{% extends 'Base.html' %}

{% block head %}
<title>Connect 4</title>
<link rel="stylesheet" href="../static/css/MyCSS.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
<script>
    let r = document.querySelector(':root');
    let rs = getComputedStyle(r);
    function Clicked(element){
        if (element.style.backgroundColor=="yellow" || element.style.backgroundColor=="red"){
            alert("Choose a different one...")
        }else{
            element.style.backgroundColor = rs.getPropertyValue('--FColor');
    
            if (rs.getPropertyValue('--FColor')=='yellow'){
                r.style.setProperty('--FColor', 'red');
            }else{
                r.style.setProperty('--FColor', 'yellow');
            }
    
            if (rs.getPropertyValue('--HColor')=='rgb(248,248,83)'){
                r.style.setProperty('--HColor', 'rgb(247, 115, 115)');
            }else{
                r.style.setProperty('--HColor', 'rgb(248,248,83)');
            }
    
            if (rs.getPropertyValue('--TColor')=='rgb(174,174,0)'){
                r.style.setProperty('--TColor', 'rgb(165, 4, 4)');
            }else{
                r.style.setProperty('--TColor', 'rgb(174,174,0)');
            }
        }
    }
    $(function() {
      $('.PlayElement').on('click', function(e) {
        e.preventDefault()
        e = e || window.event;
        e = e.target || e.srcElement;
        let a = e.id;
        $.getJSON('/Turn/'+parseInt(a.slice(-2))+'/'+rs.getPropertyValue('--FColor'),
            function(data) {
          //do nothing
        });
        return false;
      });
    });
    $( document ).ready(function() {
        r.style.setProperty('--TColor', 'rgb(174,174,0)');
        r.style.setProperty('--FColor', 'yellow');
        r.style.setProperty('--HColor', 'rgb(248,248,83)');
    });
</script>
{% endblock head %}

{% block HomeClass %}
class="nav-link"
{% endblock HomeClass %}

{% block ProfileClass %}
class="nav-link"
{% endblock ProfileClass %}

{% block GameClass %}
class="nav-link dropdown-toggle active"
{% endblock GameClass %}

{% block TicTacClass %} 
class="dropdown-item"
{% endblock TicTacClass %}

{% block ConnectClass %} 
class="dropdown-item disabled"
{% endblock ConnectClass %}

{% block body %}
    <h3 id="TopHeading"><em>Connect 4</em></h3>
    <div id="PlayArea">
        <div id="Row-0" class="PlayRow">
            <div id="Element-00" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-01" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-02" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-03" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-04" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-05" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-06" class="PlayElement" onclick="Clicked(this)"></div>
        </div>
        <div id="Row-1" class="PlayRow">
            <div id="Element-07" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-08" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-09" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-10" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-11" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-12" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-13" class="PlayElement" onclick="Clicked(this)"></div>
        </div>
        <div id="Row-2" class="PlayRow">
            <div id="Element-14" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-15" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-16" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-17" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-18" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-19" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-20" class="PlayElement" onclick="Clicked(this)"></div>
        </div>
        <div id="Row-3" class="PlayRow">
            <div id="Element-21" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-22" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-23" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-24" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-25" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-26" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-27" class="PlayElement" onclick="Clicked(this)"></div>
        </div>
        <div id="Row-4" class="PlayRow">
            <div id="Element-28" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-29" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-30" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-31" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-32" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-33" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-34" class="PlayElement" onclick="Clicked(this)"></div>
        </div>
        <div id="Row-5" class="PlayRow">
            <div id="Element-35" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-36" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-37" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-38" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-39" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-40" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-41" class="PlayElement" onclick="Clicked(this)"></div>
        </div>
        <div id="Row-6" class="PlayRow">
            <div id="Element-42" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-43" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-44" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-45" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-46" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-47" class="PlayElement" onclick="Clicked(this)"></div>
            <div id="Element-48" class="PlayElement" onclick="Clicked(this)"></div>
        </div>
    </div>

{% endblock body %}