{% extends 'Base.html' %}

{% block head %}
<title>{{Player}} Won</title>
<style>
    body{
        text-align: center;
    }
    #Winner{
        padding-top: 20%;
        font-size: 70px;
        font-family:'Times New Roman', Times, serif
    }
    #cong{
        font-size: 35px;
    }
    .b{
        display: inline-block;
        padding-top: 60px;
        padding-left: 15px;
    }
    a{
        text-decoration: none;
    }
</style>
{% endblock head %}

{% block HomeClass %}
class="nav-link"
{% endblock HomeClass %}

{% block ProfileClass %}
class="nav-link active"
{% endblock ProfileClass %}

{% block GameClass %}
class="nav-link dropdown-toggle"
{% endblock GameClass %}

{% block TicTacClass %} 
class="dropdown-item"
{% endblock TicTacClass %}

{% block ConnectClass %} 
class="dropdown-item"
{% endblock ConnectClass %}

{% block body %}
<div id="Winner">
    {{Player}} Won
</div>
<div id="cong">
    Congratulations
</div>
<div id="btns">
    <div id="playAgain" class="b">
        <a href="/Connect4">
            Play Again
        </a>
    </div>
    <div id="home" class="b">
        <a href="/">
            Home
        </a>
    </div>
    <div id="logout" class="b">
        <a href="/Logout">
            Logout
        </a>
    </div>
</div>

{% endblock body %}